<form class="form-signin" action="{{#if api}}/api{{/if}}/login" method="POST" style="width: 100%;">
  <div class="text-center mb-4">
    <h1 class="h3 mb-3 fw-normal">登入{{#if api}}(api測試用){{/if}}</h1>
    {{#if api}}
    <p><a href="/login">切換到一般登入</a></p>
    {{else}}
    <p><a href="/api/login">切換到api登入</a></p>
    {{/if}}
  </div>
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Email</label>
    <input type="text" name="email" class="form-control" placeholder="Email" required autofocus>
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
  </div>
  <br />
  <div class="d-grid gap-2">
    <button class="btn btn-lg btn-primary" type="submit">登入</button>
  </div>
  <div class="text-center mb-4">
    <p><a href="{{#if api}}/api{{/if}}/register">註冊</a></p>
  </div>
  <p class="mt-5 mb-3 text-muted text-center">© 2021</p>
</form>